$color-text: #ffffff;
$color-link: #ffffff;
$color-background: #000000;
$color-primary: #bdae82;

$content-width: 1440px;
$tablet-width: 768px;
$mobile-big-width: 480px;
$mobile-small-width: 320px;

$animation-time: all 0.3s;
$animation-time-short: all 0.1s;
