%transition {
  transition: all 0.3s;
}

%font-header {
  font-family: 'Merriweather', Verdana, serif;
}

%font-text {
  font-family: 'Inter', Verdana, sans-serif;
}

%form-text {
  display: block;
  width: 100%;
  color: $color-primary;
  background-color: $color-background;
  border: 2px solid $color-primary;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 2rem;
  padding-left: 19px;
  margin-top: 20px;
}

%footer-icon {
  display: block;
  width: 32px;
  height: 32px;
}
