.button {
  height: 55px;
  width: 220px;
  @extend %font-text;
  font-style: normal;
  font-weight: normal;
  font-size: 2.0rem;
  line-height: 4.0rem;
  border: 0;
  transition: $animation-time;
  cursor: pointer;
}

.button_colored {
  color: $color-background;
  background-color: $color-primary;
}

.button_colored:hover {
  color: $color-text;
}

.button_uncolored {
  color: $color-primary;
  background-color: $color-background;
  border: 2px solid $color-primary;
}

.button_uncolored:hover {
  color: $color-text;
}