.footer__icons_pinterest, .footer__icons_twitter, .footer__icons_facebook, .footer__icons_instagram, .logo {
  transition: all 0.3s;
}

.price-item__price, h3, h2, h1 {
  font-family: "Merriweather", Verdana, serif;
}

.footer, .contact-me__form-textarea, .contact-me__form-input, .skills-item__text, .hero__text, .header, .button, h4, body {
  font-family: "Inter", Verdana, sans-serif;
}

.contact-me__form-textarea, .contact-me__form-input {
  display: block;
  width: 100%;
  color: #bdae82;
  background-color: #000000;
  border: 2px solid #bdae82;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 2rem;
  padding-left: 19px;
  margin-top: 20px;
}

.footer__icons_pinterest, .footer__icons_twitter, .footer__icons_facebook, .footer__icons_instagram {
  display: block;
  width: 32px;
  height: 32px;
}

*,
section {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  background-color: #000000;
}

h1 {
  font-size: 6rem;
  line-height: 12rem;
  font-weight: bold;
  font-style: normal;
  color: #ffffff;
}
@media (max-width: 768px) {
  h1 {
    font-size: 3.2rem;
    line-height: 6.4rem;
    font-weight: normal;
    font-style: normal;
  }
}

h2 {
  font-size: 4rem;
  line-height: 8rem;
  font-weight: bold;
  font-style: normal;
  width: min-content;
  display: block;
  margin: 0 auto;
  color: #bdae82;
  padding: 0 20px;
  background-color: #000000;
}
@media (max-width: 768px) {
  h2 {
    font-size: 3.2rem;
    line-height: 8rem;
    font-weight: bold;
    font-style: normal;
  }
}

h3 {
  font-size: 2.8rem;
  line-height: 5.6rem;
  font-weight: bold;
  font-style: normal;
  color: #ffffff;
}

h4 {
  font-size: 2rem;
  line-height: 4rem;
  font-weight: bold;
  font-style: normal;
  color: #ffffff;
  margin-top: 50px;
  text-align: center;
}
@media (max-width: 768px) {
  h4 {
    margin-top: 30px;
  }
}

a {
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: #bdae82;
}

.active-link {
  color: #bdae82;
}

.hamburger {
  display: none;
}
@media (max-width: 768px) {
  .hamburger {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 50px;
    height: 50px;
    z-index: 100;
    padding: 11px 0;
    position: fixed;
    right: 64px;
  }
}

.hamburger__line {
  display: block;
  background-color: #ffffff;
  height: 3px;
  width: 100%;
  z-index: 100;
  transition: all 0.5s;
}

.hamburger.close .line1 {
  transform: rotate(-45deg) translate(-6px, 12px);
}

.hamburger.close .line2 {
  opacity: 0;
}

.hamburger.close .line3 {
  transform: rotate(45deg) translate(-6px, -12px);
}

.button {
  height: 55px;
  width: 220px;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 4rem;
  border: 0;
  transition: all 0.3s;
  cursor: pointer;
}
.button_colored {
  color: #000000;
  background-color: #bdae82;
}
.button_colored:hover {
  color: #ffffff;
}
.button_colored:active {
  border: 2px solid #000000;
  transition: all 0.1s;
}
.button_uncolored {
  color: #bdae82;
  background-color: #000000;
  border: 2px solid #bdae82;
}
.button_uncolored:hover {
  color: #ffffff;
}
.button_uncolored:active {
  border: 4px solid #bdae82;
  transition: all 0.1s;
}

.skills-item__icon_camera {
  display: block;
  margin: 0 auto;
  width: 62px;
  height: 50px;
  background-image: url("./assets/svg/camera.svg");
}

.skills-item__icon_video {
  display: block;
  margin: 0 auto;
  width: 60px;
  height: 50px;
  background-image: url("./assets/svg/video.svg");
}

.skills-item__icon_image {
  display: block;
  margin: 0 auto;
  width: 66px;
  height: 50px;
  background-image: url("./assets/svg/image.svg");
}

.skills-item__icon_mic {
  display: block;
  margin: 0 auto;
  width: 32px;
  height: 50px;
  background-image: url("./assets/svg/mic.svg");
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (max-width: 768px) {
  .container {
    padding: 0 60px;
    max-width: 768px;
  }
}

.container__title {
  width: 50%;
  height: 80px;
  display: block;
  margin: 0 auto;
  text-align: center;
  background-image: linear-gradient(to top, #000000 39px, #bdae82 39px, #bdae82 41px, #000000 41px);
  margin-top: 101px;
}
@media (max-width: 768px) {
  .container__title {
    width: 364px;
    margin-top: -10px;
  }
}

.header {
  color: #ffffff;
  font-size: 2rem;
  line-height: 5rem;
  font-style: normal;
  font-weight: normal;
}

.header__container {
  height: 90px;
  background: url("./assets/img/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .header__container {
    background-position: -5px -30px;
    background-size: auto 620px;
    max-width: 768px;
  }
}

.header__logo {
  display: block;
}

.logo {
  display: block;
  width: 50px;
  height: 40px;
  background-image: url("./assets/svg/logo.svg");
}

.logo:hover {
  filter: invert(21%) sepia(12%) saturate(806%) hue-rotate(7deg) brightness(88%) contrast(84%);
}

.header__navigation {
  width: 500px;
  margin-left: auto;
}
@media (max-width: 768px) {
  .header__navigation {
    width: 200px;
    margin: 0px;
  }
}

.navigation {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 768px) {
  .navigation {
    display: block;
    position: fixed;
    height: 100%;
    right: -500px;
    transition: 0.5s all;
  }
}

@media (max-width: 768px) {
  .navigation.show {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    flex-direction: column;
    height: 100%;
    width: 620px;
    padding-left: 127px;
    padding-top: 134px;
    top: 0;
    right: 0;
    position: fixed;
    background-color: #000000;
    z-index: 50;
    transition: 0.5s all;
  }
}

.navigation__link {
  list-style: none;
}
@media (max-width: 768px) {
  .navigation__link {
    line-height: 7.3rem;
    font-size: 35px;
  }
}

.check-language {
  width: 70px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .check-language {
    margin-left: auto;
    margin-right: 84px;
    width: 80px;
  }
  .check-language:first-child {
    margin-right: -10px;
  }
}

.hero__container {
  background: url("./assets/img/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  background-position-y: -90px;
}
@media (max-width: 768px) {
  .hero__container {
    height: 590px;
    background-position: -5px -120px;
    background-size: auto 620px;
  }
}

.hero__content {
  color: #ffffff;
  width: 500px;
  margin-left: 60px;
  padding-top: 160px;
  padding-bottom: 330px;
  position: relative;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .hero__content {
    margin-left: 0;
    padding-top: 78px;
  }
}

.hero__text {
  width: 470px;
  height: 120px;
  margin-top: 10px;
  display: flex;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 4rem;
}
@media (max-width: 768px) {
  .hero__text {
    line-height: 2.4rem;
    margin-top: 20px;
    width: 390px;
    height: 72px;
  }
}

.hero__button {
  margin-top: 25px;
}
@media (max-width: 768px) {
  .hero__button {
    margin-top: 60px;
  }
}

.skills-items {
  display: flex;
  margin-top: 60px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
@media (max-width: 768px) {
  .skills-items {
    margin-top: 45px;
    margin-bottom: 93px;
  }
}

.skills-item {
  width: 320px;
  height: 240px;
}
@media (max-width: 768px) {
  .skills-item {
    width: 300px;
    height: 260px;
  }
}

.skills-item__text {
  display: block;
  margin: 20px 20px 8px 20px;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  line-height: 36px;
}
@media (max-width: 768px) {
  .skills-item__text {
    margin: 20px auto;
    line-height: 22px;
    width: 280px;
  }
}

.portfolio-buttons {
  display: flex;
  margin: 60px auto;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}
@media (max-width: 768px) {
  .portfolio-buttons {
    margin: 50px auto 60px auto;
  }
}

.portfolio-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
}
@media (max-width: 768px) {
  .portfolio-items {
    margin-bottom: 90px;
  }
}

.portfolio-item {
  display: block;
  width: 450px;
  height: 560px;
}
@media (max-width: 768px) {
  .portfolio-item {
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .video__container {
    max-width: 768px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 90px;
  }
}

.video-player {
  width: 1400px;
  height: 705px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  background-image: url("./assets/img/video-player.jpg");
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .video-player {
    margin-top: 49px;
    max-width: 768px;
    height: 418px;
    background-size: 108%;
    background-position: left;
  }
}

.video-player__button {
  display: block;
  border: 0;
  background: none;
  width: 130px;
  height: 130px;
  background-image: url("./assets/svg/play_button.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}
@media (max-width: 768px) {
  .video-player__button {
    width: 65px;
    height: 65px;
    background-size: 65px 65px;
  }
}

.video-player__button:hover {
  filter: invert(21%) sepia(12%) saturate(806%) hue-rotate(7deg) brightness(88%) contrast(84%);
}

.video-player__button:active {
  filter: invert(0%);
  transition: all 0.1s;
}

.price-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 59px;
  gap: 25px;
}
@media (max-width: 768px) {
  .price-items {
    margin-top: 51px;
    margin-bottom: -45px;
  }
}

.price-item {
  display: block;
  width: 450px;
  height: 505px;
  background-color: #000000;
  border: 3px solid #bdae82;
}
@media (max-width: 768px) {
  .price-item {
    margin: 0 auto;
    width: 420px;
    margin-bottom: 25px;
  }
}

.price-item__title {
  margin-top: 40px;
  text-align: center;
}

.price-item__price {
  margin-top: 20px;
  color: #bdae82;
  font-size: 24px;
  line-height: 48px;
  font-style: normal;
  font-weight: bold;
  text-align: center;
}

.price-item__description {
  width: 364px;
  height: 180px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  line-height: 36px;
  color: #ffffff;
}

.price-item__button {
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-me__container {
  background-image: url("./assets/img/contacts_bg.jpg");
  background-repeat: no-repeat;
  margin-top: 100px;
  padding-top: 59px;
  padding-right: 20px;
  padding-bottom: 195px;
  text-align: left;
}
@media (max-width: 768px) {
  .contact-me__container {
    width: 768px;
    height: 600px;
    padding: 0;
    background-size: 160%;
    background-position: center;
  }
}

.contact-me__content {
  width: 450px;
  height: 445px;
  margin-left: auto;
}
@media (max-width: 768px) {
  .contact-me__content {
    margin: 0 auto;
  }
}

.contact-me__title {
  background: none;
  width: auto;
  margin: 0;
  padding-left: 0;
}
@media (max-width: 768px) {
  .contact-me__title {
    margin: 0 auto;
    padding: 0px;
    padding-top: 51px;
    text-align: center;
  }
}

.contact-me__form {
  display: block;
  margin-top: 40px;
}
@media (max-width: 768px) {
  .contact-me__form {
    margin: 0 auto;
    padding-top: 13px;
  }
}

.contact-me__form-input {
  height: 50px;
}
@media (max-width: 768px) {
  .contact-me__form-input {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.contact-me__form-textarea {
  height: 100px;
  padding-top: 12px;
}
@media (max-width: 768px) {
  .contact-me__form-textarea {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.contact-me__button {
  margin-top: 30px;
}
@media (max-width: 768px) {
  .contact-me__button {
    margin: 30px auto;
    text-align: center;
  }
}

.footer {
  display: flex;
  height: 150px;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
}
@media (max-width: 768px) {
  .footer {
    display: block;
    margin-top: 28px;
    text-align: center;
  }
}

.footer__left {
  display: flex;
  gap: 20px;
}
@media (max-width: 768px) {
  .footer__left {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 170px;
  }
}

.footer__title {
  margin-left: 20px;
}
@media (max-width: 768px) {
  .footer__title {
    display: flex;
    justify-content: center;
    margin-left: 0px;
    margin-top: 16px;
  }
}

.footer__icons {
  display: flex;
  gap: 20px;
  list-style: none;
}
@media (max-width: 768px) {
  .footer__icons {
    margin-top: 30px;
    justify-content: center;
  }
}

.footer__icons_instagram {
  background-image: url("./assets/svg/instagram.svg");
}

.footer__icons_facebook {
  background-image: url("./assets/svg/facebook.svg");
}

.footer__icons_twitter {
  background-image: url("./assets/svg/twitter.svg");
}

.footer__icons_pinterest {
  background-image: url("./assets/svg/pinterest.svg");
}

.footer__icons_instagram:hover, .footer__icons_facebook:hover, .footer__icons_twitter:hover, .footer__icons_pinterest:hover {
  filter: invert(21%) sepia(12%) saturate(806%) hue-rotate(7deg) brightness(88%) contrast(84%);
}

/*# sourceMappingURL=styles.css.map */
