.header {
  height: 90px;
}

.header__container {
  background: url("./assets/img/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  height: 100%;
  display: flex;
  align-items: stretch;
  max-width: $content-width;
}

.header__logo {
  margin: auto 20px;
}

.logo {
  width: 50px;
  height: 40px;
  background-image: url("./assets/svg/logo.svg");
  transition: $animation-time;
}

.logo:hover {
  filter: invert(21%) sepia(12%) saturate(806%) hue-rotate(7deg) brightness(88%)
    contrast(84%);
}

.header__navigation {
  margin: auto 0px auto auto;
  //margin-left: auto;
  width: 500px;
  display: flex;
  align-items: stretch;
}

.navigation {
  display: flex;
  width: 500px;
  line-height: 50px;
  justify-content: space-evenly;
}

.navigation__link {
  list-style: none;
  font-size: 20px;
  line-height: 50px;
  align-items: stretch;
}

.check-language {
  color: $color-text;
  width: 70px;
  margin: auto 20px auto 0px;
  font-size: 20px;
  line-height: 50px;
  display: flex;
  justify-content: space-between;
}
