.header {
  @extend %font-text;
  color: $color-text;
  font-size: 2rem;
  line-height: 5rem;
  font-style: normal;
  font-weight: normal;
}

.header__container {
  height: 90px;
  background: url("./assets/img/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include media-tablet {
    background-position: -5px -30px;
    background-size: auto 620px;
    max-width: $tablet-width;
  }
}

.header__logo {
  display: block;
}

.logo {
  display: block;
  width: 50px;
  height: 40px;
  background-image: url("./assets/svg/logo.svg");
  @extend %transition;
}

.logo:hover {
  filter: invert(21%) sepia(12%) saturate(806%) hue-rotate(7deg) brightness(88%)
    contrast(84%);
}

.header__navigation {
  width: 500px;
  margin-left: auto;
  @include media-tablet {
    width: 200px;
    margin: 0px;
  }

}

.navigation {
  display: flex;
  justify-content: space-evenly;
  @include media-tablet {
  display: block;
  position: fixed;
  height: 100%;
  right: -500px;
  transition: 0.5s all;
  }
}

.navigation.show {
  @include media-tablet {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  flex-direction: column;
  height: 100%;
  width: 620px;
  padding-left: 127px;
  padding-top: 134px;
  top: 0;
  right: 0;
  position: fixed;
  background-color: $color-background;
  z-index: 50;
  transition: 0.5s all;
  }
}

.navigation__link {
  list-style: none;
  @include media-tablet {
    line-height: 7.3rem;
    font-size: 35px;
  }
}

.check-language {
  width: 70px;
  display: flex;
  justify-content: space-between;
  @include media-tablet {
    margin-left: auto;
    margin-right: 84px;
    width: 80px;
    &:first-child {
      margin-right: -10px;
    }
  }
}