.hero__container {
  background: url("./assets/img/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  background-position-y: -90px;
  @include media-tablet {
    height: 590px;
    background-position: -5px -120px;
    background-size: auto 620px;
  }
}

.hero__content {
  color: $color-text;
  width: 500px;
  margin-left: 60px;
  padding-top: 160px;
  padding-bottom: 330px;
  position: relative;
  display: flex;
  flex-direction: column;
  @include media-tablet {
    margin-left: 0;
    padding-top: 78px;
  }
}

.hero__text {
  width: 470px;
  height: 120px;
  @extend %font-text;
  margin-top: 10px;
  display: flex;
  font-style: normal;
  font-weight: normal;
  font-size: 2.0rem;
  line-height: 4.0rem;
  @include media-tablet {
    line-height: 2.4rem;
    margin-top: 20px;
    width: 390px;
    height: 72px;
  }
}

.hero__button {
  margin-top: 25px;
  @include media-tablet {
    margin-top: 60px;
  }
}
