.portfolio-buttons {
  display: flex;
  margin: 60px auto;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
    @include media-tablet {
      margin: 50px auto 60px auto;
  }
}

.portfolio-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
}

.portfolio-item {
  display: block;
  width: 450px;
  height: 560px;
  @include media-tablet {
    margin: 0 auto;
  }
}
