.portfolio-buttons {
  display: flex;
  margin: 60px auto;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}

.portfolio-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
}
