.video__container {
  @include media-tablet {
    max-width: $tablet-width;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 90px;
  }
}

.video-player {
  max-width: 1400px;
  height: 705px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  background-image: url("./assets/img/video-player.jpg");
  background-repeat: no-repeat;
  @include media-tablet {
    margin-top: 49px;
    max-width: $tablet-width;
    height: 418px;
    background-size: 108%;
    background-position: left;
  }
}

.video-player__button {
  display: block;
  border: 0;
  background: none;
  width: 130px;
  height: 130px;
  background-image: url("./assets/svg/play_button.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  @include media-tablet {
    width: 65px;
    height: 65px;
    background-size: 65px 65px;
  }
}

.video-player__button:hover {
  filter: invert(21%) sepia(12%) saturate(806%) hue-rotate(7deg) brightness(88%)
    contrast(84%);
}

.video-player__button:active {
  filter: invert(0%);
  transition: $animation-time-short;
}