.video-player {
  width: 1400px;
  height: 705px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  background-image: url("./assets/img/video-player.jpg");
}

.video-player__button {
  width: 130px;
  height: 130px;
  background-image: url("./assets/svg/play_button.svg");
  background-repeat: no-repeat;
}

.video-player__button:hover {
  filter: invert(21%) sepia(12%) saturate(806%) hue-rotate(7deg) brightness(88%)
    contrast(84%);
}
